{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body{
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
    <div class="col-12">
        <!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="{% static "photo_2023-09-20_19-43-52.jpg" %}" width="50" height="50" class="d-inline-block align-top" alt="">
      opozex
    </a>
  </nav>
    </div>
<div class="container mt-5">
    <button type="button" class="btn btn-secondary btn-lg btn-block pt-4 pb-4">Expense</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block  pt-4 pb-4">Income</button>
    <hr>
    <button type="button" class="btn btn-secondary btn-block btn-lg">add new item</button>
</div>


</body>    
</html>
